body{


    background-image: url(hatter.png);
}
h1{
    text-align:center;
    font-family:monospace;
    text-decoration: underline;
    color:rgb(17, 182, 223);

}
p{

    font-family:monospace;
    color:rgb(17, 182, 223);
    position: absolute;
    top:10%;
    
    
    text-align:justify;
    
}
.olcso{
    width:600px;


}
#kozepes{


    position: absolute;
    top:11%;
    width:510px;
    left:5%
}
#draga{

width:700px;
position: absolute;
    top:11%;
    left:5%


}