body{
    background-image: url(hatter.png);

    
}
h1{

    text-align:center;
    font-family:monospace;
    text-decoration: underline;
    color:rgb(17, 182, 223);
}
.olcso{

    float:left;
    width:400px;


    
}


.kozepesalaplap{
    position:absolute;
    left:750px;
    top:100px;
    


    
}
.draga{

    position: absolute;
    width:500px;
    top:130px;
    left:1400px;
   
    

}

.elso{
    
    position:absolute;
    top:500px;
    left:25px;
    color:rgb(17, 182, 223);
    



}

.masodik{
    
    position:absolute;
    top:600px;
    left:800px;
    color:rgb(17, 182, 223);

    



}
.harmadik{
    float:right;
    position: relative;
    top:400px;
    color:rgb(17, 182, 223);



}
button{

   
    position: absolute;
    top:600px;
    left:20px;
    
}
