body{

    
}
h1{

    text-align:center;
    font-family:monospace;
    text-decoration: underline;
}
.olcso{

    float:left;
    width:400px;


    
}


.kozepesalaplap{
    position:absolute;
    left:570px;
    top:100px;
    


    
}
.draga{

    position: absolute;
    width:500px;
    top:130px;
    left:1100px;
   
    

}

.elso{
    
    position:absolute;
    top:500px;
    left:25px;
    



}

.masodik{
    
    position:absolute;
    top:600px;
    left:600px;

    



}
.harmadik{
    float:right;
    position: relative;
    top:400px;



}