body{
    background-image: url("hatter.png");
}
h1{
    text-align: center;
    text-decoration: underline;
}
a{
    text-align: center;
}
h2{
    margin: auto;
    text-align: center;
}
.pr{
    margin: auto;
    text-align: center;
    position: absolute;
    top: 30%;
    width: 30%;
}
